header {
    background:transparent;
    min-width:100vw;
    max-width:100vw;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:'Barlow';
    position:absolute;
    overflow:hidden;
    z-index:99;
}
header svg {
    margin-left:70px;
    cursor:pointer;
    transform:scale(1.5);
}
header nav a {
    margin:0px 30px 0px 30px;
    color:white;
    font-weight:500;
    cursor:pointer;
}
header nav a:last-of-type {
    margin:10px;
    color:black;
    font-weight:500;
    background:rgba(255,255,255,1);
    border-radius:25px;
    padding:15px 30px 15px 30px;
    text-transform:uppercase;
    font-family:'Fraunces';
}
header nav a:last-of-type:hover  {
    color:white;
    background:rgba(255,255,255,.48);
}
header nav {
    display:flex;
    align-items:center;
    margin-right:50px;
}
.show {
    display:flex;
}
.hide {
    display:none;
}
@media screen and  (max-width: 800px) {
    header #burger {
        /* background:red; */
        margin:0px 35px 0px 0px;
    }
}