footer {
    width:100vw;
    height:35vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    background:#90D4C5;
    font-family:'Barlow';
}
footer .logo {
    margin:80px 0px 50px 0px;
    transform:scale(1.5);
}

footer a {
    color:#2C7363;
}
footer nav {
    /* background:red; */
    width:20vw;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
footer nav a {
    font-weight:bolder;
    font-size:1.2rem;
}
footer .links__media {
    /* background:red; */
    margin:50px 0px 0px 0px;
    width:10%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
footer .links__media svg {
    /* background:gray; */
    transform:scale(1.1);
    cursor:pointer;
    margin:0px 0px 0px 0px;
}
footer .links__media svg:hover path {
    fill:#fff;
}
footer a:hover {
    color:#fff;
}

@media screen and (min-width: 300px) and (max-width: 1300px) {
    footer {
        height:auto;
    }
    footer nav {
        width:80%;
        justify-content:center;
    }
    footer nav a {
        padding:20px;
    }
    footer .links__media {
        /* background:red; */
        min-width:40%;
    }
}
